.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #7167ff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader{
  position: relative;
  width: 90px;
  height: 90px;
}

.loader span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.loader span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  transform: scale(0);
  animation: loader 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes loader{
  0%{
    transform: scale(0);
  }
  10%{
    transform: scale(1.2);
  }
  80%,
  100%{
    transform: scale(0);
  }
}

.loaderPlane{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loaderRotating 2s linear infinite;
  animation-delay: -1s;
}

@keyframes loaderRotating{
  0%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(370deg);
  }
}

.plane{
  position: absolute;
  font-weight: 400;
  top: 55px;
  left: 64px;
  color: #fff;
  font-size: 38px;
  transform: rotate(135deg);
}